#map {
	width: 90%;
	height: 90vh; /*Can't be a percentage because otherwise it decides 90% of screen height is 0 and breaks on mobile*/
	top: 5vh;
	left: 5%;
}

#alerts {
	width: 80%;
	top: 80%;
	max-width: 500px;
	left: 10%;
	padding: 16px;
	margin: 16px;
	text-align: left;
	position: fixed;
	z-index: 10000; /*Show on top*/
}